body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.center {
    text-align: center;
}

.heart {
    font-size: 48px;
    cursor: pointer;
}

#likes {
    font-size: 18px;
}

#saveButton {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #0074d9;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

#saveButton:hover {
    background-color: #0056b3;
}
